{% extends 'base.html' %}
{% block title %} | services {% endblock %}
{% load static %}
{% block content %}

    <!-- top header wrapper start -->
    <div class="page_title_section">
        <div class="page_title_overlay"></div>
        <div class="page_header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">

                        <h1>Book Our Training</h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="#"> Home  &nbsp; / &nbsp;</a> </li>
                                <li>Booking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- top header wrapper end -->
    <!-- navi wrapper End -->
    <!-- about us wrapper start-->

    <!-- services wrapper start-->



    <!-- booking table wrapper start-->
    <div class="booking_table_wrapper dm_cover ">

        <div class="container ">
            <div class="row ">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 ">
                    <div class="dmx_heading_wraper ">

                        <h2>Book for training now</h2>
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12 ">
                    <div class="booking_form_field ">
                        <form>
                            <div class="row ">

                                <div class="col-lg-6 col-md-6 ">
                                    <div class="form-pos form_field ">
                                        <div class="form-group i-name ">
                                            <input type="text " name="first_name " class="form-control require " placeholder="Your Name* ">
                                            <i class="fas fa-user "></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 ">
                                    <div class="form-e form_field ">
                                        <div class="form-group i-email ">
                                            <label class="sr-only ">Email </label>
                                            <input type="email " name="email " class="form-control require " placeholder="You Email * " data-valid="email " data-error="Email should be valid. ">
                                            <i class="fas fa-envelope "></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 ">
                                    <div class="form-e form_field ">
                                        <div class="form-group i-email ">
                                            <label class="sr-only ">Type of training </label>
                                            <input type="email " name="training " class="form-control require " placeholder="You Email * " data-valid="email " data-error="Email should be valid. ">
                                            <i class="fas fa-envelope "></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 ">
                                    <label class="sr-only ">Type of training </label>
                                            <input type="text " name="text " class="form-control require " placeholder="You Email * " data-valid="email " data-error="Email should be valid. ">
                                </div>
                                </div>

                                <div class="col-lg-3 col-md-6 ">
                                    <label class="sr-only ">Email </label>
                                            <input type="email " name="email " class="form-control require " placeholder="You Email * " data-valid="email " data-error="Email should be valid. ">

                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-m form_field ">
                                        <div class="form-group i-name ">

                                            <input type="text " name="contact_no " class="form-control " placeholder="Address ">
                                            <i class="fas fa-user-edit "></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 ">
                                    <div class="dropdown">
                                        <button class="dropbtn">Ass/Asshole enlargement cream
                                      <i class="fa fa-caret-down"></i>
                                    </button>
                                        <div class="dropdown-content">
                                            <a href="#">Yes</a>
                                            <a href="#">No</a>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 ">
                                    <div class="dropdown">
                                        <button class="dropbtn">Tits enlargement
                                      <i class="fa fa-caret-down"></i>
                                    </button>
                                        <div class="dropdown-content">
                                            <a href="#">Yes</a>
                                            <a href="#">No</a>

                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-12 ">
                                    <div class="tb_es_btn_div ">
                                        <div class="response "></div>
                                        <div class="tb_es_btn_wrapper ">
                                            <button type="button " class="submitForm ">book now</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map_wrapper">
        <div></div>
    </div>
    <!--blog wrapper start-->
    <div style="padding-top: 25%;" class="blog_categories_2 dm_cover">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="blog_indx_box_wrapper blog_category_box blog_categories_content">

                        <div class="comments_wrapper dm_cover">
                            <div class="dm_heading_wrapper">

                                <h2>comments</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Jhon Doe <i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> <a href="#">Reply</a> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Matin Lauran <i class="fa fa-circle"></i> </span>
                                                <span class="publish_date">  <a href="#">Reply</a> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box last_comment_box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Eva Marilla <i class="fa fa-circle"></i></span>

                                                <span class="publish_date"> <a href="#">Reply</a> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments_wrapper booking_table_wrapper blog_comment_wrapper dm_cover">
                            <div class="dm_heading_wrapper">

                                <h2>leave a Review</h2>

                            </div>
                            <div class="booking_form_field">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-pos form_field">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="first_name" required="" placeholder="Your Name*">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-e form_field">
                                                <div class="form-group i-email">

                                                    <input type="email" class="form-control require" name="email" required="" placeholder="You Email *" data-valid="email" data-error="Email should be valid.">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-e form_field">
                                                <div class="form-group i-email">
                                                    <textarea class="form-control require" name="message" rows="4" id="messageTen" placeholder=" Message"></textarea>
                                                    <i class="fas fa-comment"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="tb_es_btn_div">
                                                <div class="response"></div>
                                                <div class="tb_es_btn_wrapper blog_cmnt_btn">
                                                    <button type="button" class="submitForm">submit now !</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--blog wrapper end-->

{% endblock %}