{% extends 'base.html' %}
{% block title %} | Comment {% endblock %}
{% load static %}
{% block content %}

    <!-- top header wrapper start -->
    <div class="page_title_section">
        <div class="page_title_overlay"></div>
        <div class="page_header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">

                        <h1>What Our Customers Are Saying</h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="{% url 'index' %}"> Home  &nbsp; / &nbsp;</a> </li>
                                <li>Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- top header wrapper end -->
    <!-- navi wrapper End -->
    <!-- about us wrapper start-->

    <!-- services wrapper start-->




    <!--blog wrapper start-->
    <div class="blog_categories_2 dm_cover">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="blog_indx_box_wrapper blog_category_box blog_categories_content">

                        <div class="comments_wrapper dm_cover">
                            <div class="dm_heading_wrapper">

                                <h2>comments</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Emma <i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>great</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Jason <i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>interest training </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Oldwhore<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>Best experience since I was born  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Sluttymark<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>their room is 100% private and I really love it </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Sonofafuckingbitch<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>Awesome training  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Kinky Elijah<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p> so fun </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Nasty Richard<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p> good  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Logan<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>interesting  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Mason<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p> best   </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Noah<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>so fun  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Jacob<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>their gays cock cum tastes good   </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Matthew<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>good   </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Henry<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>the best 💋</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Carter<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p> 👌👌</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Jayden<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>sweet  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Nastydirtyasshole<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>I love the lifestyle and training </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Nastydirtyasshole<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>lovely  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Hotbitch<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>so nasty and I can’t wait to start this training again </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Dirtycocksucker<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>great and nasty experience </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Rita<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>I love the lesbian training  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Masterjohnson<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>good </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Oldwhore<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>Best experience since I was born  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Gabriel <i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p> I can’t stop thinking about the training  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name">Ronald<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>I love the training so much </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> Cocksucker bitch<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p>lesbian training keeps making my pussy wet  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                    <div class="comments_Box">
                                        <div class="text_wrapper">
                                            <div class="author_detail">
                                                <span class="author_name"> CuriousAsslicker<i class="fa fa-circle"></i> </span>
                                                <span class="publish_date"> </span>
                                            </div>
                                            <div class="author_content">
                                                <p> fun </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--blog wrapper end-->

{% endblock %}