{% extends 'base.html' %}
{% block title %} | contact {% endblock %}
{% load static %}
{% block content %}
    <!-- top header wrapper start -->
    <div class="page_title_section">
        <div class="page_title_overlay"></div>
        <div class="page_header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">

                        <h1>Contact Us </h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="{% url 'index' %}"> Home  &nbsp; / &nbsp;</a> </li>
                                <li>Contact </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- top header wrapper end -->
    <!-- navi wrapper End -->
    <!-- about us wrapper start-->
    <!-- contact  wrapper start-->
    <div class="contact_wrapper dm_cover">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">

                    <div class="pricing_wrapper_box contct_info_center dm_cover">
                        <div class="pricing_wrapper_images dm_cover">
                            <div class="price_tag">
                                <p><i class="fas fa-street-view"></i></p>
                            </div>
                        </div>
                        <div class="pricing_tab_content dm_cover">
                                <p>Head Office private training center: Jacksonville, NC
                                    Branch private training Center:
                                    Jacksonville, NC

                                    Charlotte, NC

                                    Wilmington, NC

                                    Durham, NC

                                    Atlanta, GA

                                    New York City, NY

                                    San Diego, CA and other states around the United States.</p>
                        </div>

                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">

                    <div class="pricing_wrapper_box contct_info_center dm_cover">
                        <div class="pricing_wrapper_images dm_cover">

                            <div class="price_tag">
                                <p><i class="fas fa-phone-alt"></i></p>
                            </div>
                        </div>
                        <div class="pricing_tab_content dm_cover">

                            <p>Phone number : 425-329-7551
                            </p>
                        </div>

                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">

                    <div class="pricing_wrapper_box contct_info_center dm_cover">
                        <div class="pricing_wrapper_images dm_cover">

                            <div class="price_tag">
                                <p><i class="fas fa-envelope"></i></p>
                            </div>
                        </div>
                        <div class="pricing_tab_content dm_cover">

                            <p> <a href="#">Contact Train My Slave email: trainmyslavetogether@gmail.com</a>
                                <br>
                                <a href="#">Train My Slave CEO : Master Eric Gibson
                                    Contact Master Eric Gibson :
                                    Masterericgibson2060@gmail.com</a>
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- contact  wrapper end-->
{% endblock %}