{% extends 'base.html' %}
{% block title %} | Gallery {% endblock %}
{% load static %}
{% block content %}

    <!-- top header wrapper start -->
    <div class="page_title_section">
        <div class="page_title_overlay"></div>
        <div class="page_header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">

                        <h1>Gallery</h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="{% url 'index' %}"> Home  &nbsp; / &nbsp;</a> </li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- top header wrapper end -->

 <!-- gallery wrapper start-->
    <div class="gallery_wrapper portfolio_grid dm_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <div class="dmx_heading_wraper">
                        <h2>our gallery</h2>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="row portfoli_inner pi_3">

                        <!-- Items -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble ux_ui">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt1.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt1.jpeg' %}"> <i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Items -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt2.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt2.jpeg' %}"> <i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Items -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble #">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt3.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt3.jpeg' %}"> <i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Items -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance #">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt4.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt4.jpeg' %}"> <i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Items -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt5.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt5.jpeg' %}"> <i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Items -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt6.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt6.jpeg' %}"> <i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Items -->

                        <!-- Items -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt7.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt7.jpeg' %}"><i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Items -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt8.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt8.jpeg' %}"><i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt9.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt9.jpeg' %}"><i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt10.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt10.jpeg' %}"><i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt11.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt12.jpeg' %}"><i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt13.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt13.jpeg' %}"><i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt14.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt14.jpeg' %}"><i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 gallery_2 dribbble behance">
                            <div class="portfolio_item">
                                <img src="{% static 'images/abt16.jpeg' %}" alt="">
                                <div class="portfolio_hover">

                                    <div class="zoom_popup">
                                        <a class="img-link" href="{% static 'images/abt16.jpeg' %}"><i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- gallery wrapper end-->

{% endblock %}