{% extends 'base.html' %}
{% block title %} {% endblock %}
{% load static %}
{% block content %}
    <!-- Slider Wrapper Start -->
    <div class="slider-area dm_cover">
        <div class="main_slider_overly"></div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-captions caption-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1  col-md-12 col-sm-12 col-12">
                                    <div class="content">

                                        <h2 data-animation="animated zoomInDown">welcome To Train My Slave</h2>

                                        <div data-animation="animated fadeIn" class="slider_border"></div>

                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class=" carousel-captions caption-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1  col-md-12 col-sm-12 col-12">
                                    <div class="content">

                                        <h2 data-animation="animated zoomInDown">We Train Your Slave</h2>
                                        <div data-animation="animated" class="slider_border"></div>

                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-captions caption-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1  col-md-12 col-sm-12 col-12">
                                    <div class="content">

                                        <h2 data-animation="animated zoomInDown">We Are a Trusted Slave Trainer </h2>
                                        <div data-animation="animated" class="slider_border"></div>

                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span class="number"></span></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""><span class="number"></span></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""><span class="number"></span></li>
                </ol>
                <div class="carousel-nevigation">
                    <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev">
                        <i class="flaticon-long-arrow-pointing-to-left"></i>
                        <span>PR<br>EV</span>
                    </a>
                    <a class="next" href="#carousel-example-generic" role="button" data-slide="next">
                        <span>NE<br>XT</span>
                        <i class="flaticon-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--  Slider Wrapper End -->
    <!--  category wrapper start-->

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="category_content_wrapper">
                    <div class="category_wrapper_overlay">
                        <figure>
                            <img src="{% static 'images/abt8.jpeg' %}" height="400px" alt="img">
                        </figure>
                        <div class="category_btm_wrap">
                            <h4><a href="#">Lesbian bdsm secret training </a></h4>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="category_content_wrapper">
                    <div class="category_wrapper_overlay">
                        <figure>
                            <img src="{% static 'images/abt1.jpeg' %}" height="400px" alt="img">
                        </figure>
                        <div class="category_btm_wrap">
                            <h4><a href="#">Gay bdsm secret training</a></h4>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="category_content_wrapper">
                    <div class="category_wrapper_overlay">
                        <figure>
                            <img src="{% static 'images/abt5.jpeg' %}" height="400px" alt="img">
                        </figure>
                        <div class="category_btm_wrap">
                            <h4><a href="#">Gay / shemale bdsm training </a></h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- category wrapper end-->
    <!-- about wrapper start-->
    <div class="dm_about_wrapper float_left">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-sm-12 col-12 about_responsive_padder">

                    <div class="dm_heading_wrapper">

                        <h2>About Us</h2>
                    </div>
                    <div class="dm_about_text_wrapper dm_cover">
                        <p style="padding-bottom:7%; ">Train my slave’ we render trust oriented bdsm dungeon kinky training services, a reliable bdsm outfit that has trained about 4000 slaves over the years all around the United States. Our utmost priority is the satisfaction of our
                            slaves/mistresses/masters. With about 300 certified trainers that have vast knowledge and experience in bdsm practices, be assured of a forever memorable training experience with us.
                        </p>

                        <div class="hs_btn_wrapper dm_cover">
                            <ul>
                                <li> <a href="{% url 'about' %}">read more</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-lg-6 col-sm-12">
                    <div class="abt_right_img_wrapper">

                        <img src="{% static 'images/abt13.jpeg' %}" alt="About" class="img-responsive" style="border-radius: 25px;">

                        <div class="sw_disc_img_btm">
                            <img src="{% static 'images/abt15.jpeg' %}" alt="About" class="img-responsive" style="border-radius: 25px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about wrapper end-->
    <!-- feedback wrapper start-->

    <!-- feedback wrapper start-->
    <div class="feedback_wrapper index2_feedback_wrapper  dm_cover">
        <div class="club_video_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <div class="dmx_heading_wraper">
                        <h2>customer Reviews</h2>
                        <p>What Our Customers Are Saying About Us</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 my_class">
            <div class="dm_testi_slider_main_wrapper dm_cover">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="dm_testi_slider_slide dm_cover">


                            <div class="dm_testi_slide_cont dm_cover">

                                <p>their room is 100% private and I really love it </p>
                                <h3>Sluttymark</h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dm_testi_slider_slide dm_cover">


                            <div class="dm_testi_slide_cont dm_cover">

                                <p>Awesome training</p>
                                <h3>Sonofafuckingbitch </h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dm_testi_slider_slide dm_cover">


                            <div class="dm_testi_slide_cont dm_cover">

                                <p>their gays cock cum tastes good </p>
                                <h3>Jacob</h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dm_testi_slider_slide dm_cover">


                            <div class="dm_testi_slide_cont dm_cover">

                                <p>Awesome training</p>
                                <h3>Sonofafuckingbitch </h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dm_testi_slider_slide dm_cover">


                            <div class="dm_testi_slide_cont dm_cover">

                                <p>Best experience since I was born </p>
                                <h3>Oldwhore </h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dm_testi_slider_slide dm_cover">


                            <div class="dm_testi_slide_cont dm_cover">

                                <p>lesbian training keeps making my pussy wet 💋 </p>
                                <h3>Cocksucker bitch</h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dm_testi_slider_slide dm_cover">


                            <div class="dm_testi_slide_cont dm_cover">

                                <p>Awesome training</p>
                                <h3>Sonofafuckingbitch </h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- feedback wrapper end-->
{% endblock %}