{% extends 'base.html' %}
{% block title %} | services {% endblock %}
{% load static %}
{% block content %}
    <div class="page_title_section">
        <div class="page_title_overlay"></div>
        <div class="page_header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">

                        <h1>our services </h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="{% url 'index' %}"> Home  &nbsp; / &nbsp;</a> </li>
                                <li>services </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- top header wrapper end -->
    <!-- navi wrapper End -->
    <!-- about us wrapper start-->

    <!-- services wrapper start-->
    <div class="our_services_wrapper_top dm_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <div class="dmx_heading_wraper">
                        <h2>our services</h2>
                        <p>We render intense bdsm training services, we also sell bdsm constructed/mobile dungeon,sex toys,enlargement creams and other products. We provide a super kinky private abode/center for diverse bdsm practices.
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">

                    <div class="our_services_wrapper dm_cover">
                        <div class="services_cntnt_img dm_cover">
                            <img src="{% static 'images/abt10.jpeg' %}" alt="img" class="img-responsive" height="150px">
                        </div>
                        <div class="services_box_cntnt dm_cover">
                            <h1><a href="#">bdsm constructed/mobile dungeon</a></h1>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">

                    <div class="our_services_wrapper dm_cover">
                        <div class="services_cntnt_img dm_cover">
                            <img src="{% static 'images/abt13.jpeg' %}" alt="img" class="img-responsive" height="150px">
                        </div>
                        <div class="services_box_cntnt dm_cover">
                            <h1><a href="#">sex toys</a></h1>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">

                    <div class="our_services_wrapper dm_cover">
                        <div class="services_cntnt_img dm_cover">
                            <img src="{% static 'images/abt5.jpeg' %}" alt="img" class="img-responsive" height="150px">
                        </div>
                        <div class="services_box_cntnt dm_cover">
                            <h1><a href="#">Enlargement creams</a></h1>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">

                    <div class="our_services_wrapper dm_cover">
                        <div class="services_cntnt_img dm_cover">
                            <img src="{% static 'images/abt7.jpeg' %}" alt="img" class="img-responsive" height="150px">
                        </div>
                        <div class="services_box_cntnt dm_cover">
                            <h1><a href="#">super kinky private abode/center</a></h1>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">

                    <div class="our_services_wrapper dm_cover">
                        <div class="services_cntnt_img dm_cover">
                            <img src="{% static 'images/abt1.jpeg' %}" alt="img" class="img-responsive" height="150px">
                        </div>
                        <div class="services_box_cntnt dm_cover">
                            <h1><a href="#">diverse bdsm practices</a></h1>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">

                    <div class="our_services_wrapper dm_cover">
                        <div class="services_cntnt_img dm_cover">
                            <img src="{% static 'images/abt2.jpeg' %}" alt="img" class="img-responsive" height="150px">
                        </div>
                        <div class="services_box_cntnt dm_cover">
                            <h1><a href="#">VIP Services</a></h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- services wrapper end-->

{% endblock %}