<!-- booking table wrapper start-->
<div class="booking_table_wrapper dm_cover ">

    <div class="container ">
        <div class="row ">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 ">
                <div class="dmx_heading_wraper ">

                    <h2>Book for training now</h2>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12 ">
                <div class="booking_form_field ">
                    <form>
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 ">
                                <div class="form-pos form_field ">
                                    <div class="form-group i-name ">
                                        <input type="text " name="first_name " class="form-control require " placeholder="Your Name* ">
                                        <i class="fas fa-user "></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 ">
                                <div class="form-e form_field ">
                                    <div class="form-group i-email ">
                                        <label class="sr-only ">Email </label>
                                        <input type="email " name="email " class="form-control require " placeholder="You Email * " data-valid="email " data-error="Email should be valid. ">
                                        <i class="fas fa-envelope "></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="dropdown">
                                    <button class="dropbtn">Type of Training 
                                      <i class="fa fa-caret-down"></i>
                                    </button>
                                    <div class="dropdown-content">
                                        <a href="#">Lesbian bdsm secret training</a>
                                        <a href="#">Gay bdsm secret training</a>
                                        <a href="#">Shemale bdsm secret training</a>
                                        <a href="#">Gay/Shemale bdsm training</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="dropdown">
                                    <button class="dropbtn">Cock enlargement cream
                                      <i class="fa fa-caret-down"></i>
                                    </button>
                                    <div class="dropdown-content">
                                        <a href="#">Yes</a>
                                        <a href="#">No</a>

                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="form-m form_field ">
                                    <div class="form-group i-name ">

                                        <input type="text " name="contact_no " class="form-control " placeholder="Address ">
                                        <i class="fas fa-user-edit "></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="dropdown">
                                    <button class="dropbtn">Ass/Asshole enlargement cream 
                                      <i class="fa fa-caret-down"></i>
                                    </button>
                                    <div class="dropdown-content">
                                        <a href="#">Yes</a>
                                        <a href="#">No</a>

                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="dropdown">
                                    <button class="dropbtn">Tits enlargement 
                                      <i class="fa fa-caret-down"></i>
                                    </button>
                                    <div class="dropdown-content">
                                        <a href="#">Yes</a>
                                        <a href="#">No</a>

                                    </div>

                                </div>
                            </div>


                            <div class="col-md-12 ">
                                <div class="tb_es_btn_div ">
                                    <div class="response "></div>
                                    <div class="tb_es_btn_wrapper ">
                                        <button type="button " class="submitForm ">book now</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map_wrapper">
    <div></div>
</div>
<!-- booking table wrapper end-->